<h2>Edit Comment:</h2>
<%= form_for [@post, @comment] do |f| %>

  <div><%= f.label :comment %></div>
  <div><%= f.text_area :comment_body, :cols => "24", :rows => "4" %></div>

  <div><%= f.submit "Edit" %></div>
<% end %>
